<!DOCTYPE html>
<html>
<head>
	<title>	Fire</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='help.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/help.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class=" row">
	<a href="/"><div class=" logo w3-display-right w3-xlarge bgimg" style="	float: right; " >
    	<img class="logo" src="{{url_for('static',filename='247.jpg')}}">
  	</div>
  </a>
	<div class=" logo w3-display-left w3-xlarge bgimg" style="padding-left: 60px;float: left" >

   		<img class="logo" src="{{url_for('static',filename='ear.jpg')}}">
	</div>

<div class="header">
	<h1> Fire </h1>
</div>
</div>
<center>
<div align="center" class="video">
	<iframe width="1280" height="720" src="https://www.youtube.com/embed/SeOaGMsIsjo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</center>


<div>
 <div class="row" style="padding-top: 400px">
	  <div class="column" >
	    <div  class="card">
	      <h2>Burns</h2>
	      <p class="p">
	      	<b>Stay calm</b>
	      	<br>
	      	<br>
	      	<br>
	      	1. Cold the area, by cold water or ice 
	      	<br>
	      	<br>
	      	2. Take off immediately any jewelry, cloth ans anything that might
	      	<br>
	      	stick to your skin   	
	      	<br>
	      	<br>
	      	3. The area might swell, do not burst theblisters that came out.
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      </p>
	    </div>
	  </div>


	  <div class="column"  >
	    <div class="card">
	      <h2>In case of fire</h2>
	      <p class="p">
	      	<br>
	      	Stay calm, breath slowely, in this case you inhale less smoke
	      	<br>
	      	Stay down, lay on the ground, the smoke always go up.
	      	<br>
	      	Find the closest exit, and get near to it carefuly, as
	      	<br>
	      	close as you can without getting hurt.
	      	<br>
	      	ASK FOR HELP
	      	<br>
	      	In order to get out of thereyou need help, screem, call, or 
	      	<br>
	      	send a messege.
	      	<br>
	      	<br>
	      	The fast you act the more chances to save him 
	      </p>
	    </div>
	  </div>
	  </div>
	 

	 <div class="row">
	  <div class="column" align="center">
	    <div class="card" style="">
		<h2>Speical smoke alarm</h2>
	      <br>
	      <br>
	      <br>
	      <p class="p">
	      
	      	<br>
	      	For deaf or heard to hear people, that can't hear the
	      	<br>
	      	fire alarm there is speical smoke alarm.
	      	<br>
	      	<br>
	      	this smoke alarm work on lights insted of noise
			<br>
	      </p>
	    </div>
	</div>


	  <div  class="column" >
	  <div class="card card-block d-flex"  >
      <div class="card-body align-items-center d-flex justify-content-center">
	      <h2>Fainting</h2>
	      <br>
	      <br>
	      <br>
	      <br>
	      <p class="p">In case of someone is fainting, first <b> RELAX</b>
	      <br>
	      Check if he has pulse,put 2 fingers on his neck, 
	      <br>
	      blow his chin, and check if you can fill it, if not
	      <br>
	      <B> Start CPR</B>
	      <br>
	      <br>
	      If he has pulse, check if he can breathe,  put your hand
	      <br>
	      on his chest and get your ear next to his mouth, hear and feel if he can.
	      <br>
	      if not call for help
	      <br>
	      <br>
	      If he can breath
	      <br>
	      Take an object and put it under the patient legs, 
	      <br>
	      so his legt will be in 30 dgrees.
	      <br>
	      Then ask for help, in our website, or call 911
	      	<br>

	      </p>
	    </div>
		</div>
	    </div>
	  </div>
	</div>
	  

	  
</div>

</body>
</html>