<!DOCTYPE html>
<html>
<head>
	<title>	Police</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='help.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/help.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	

</head>
<body>

	<div class=" row">
	<a href="/"><div class=" logo w3-display-right w3-xlarge bgimg" style="	float: right; " >
    	<img class="logo" src="{{url_for('static',filename='247.jpg')}}">
  	</div></a>
	<div class=" logo w3-display-left w3-xlarge bgimg" style="padding-left: 60px;float: left" >

   		<img class="logo" src="{{url_for('static',filename='ear.jpg')}}">
	</div>

<div class="header">
	<h1> Police </h1>
</div>
</div>
<center>
<div align="center" class="video">
	<iframe  width="1280" height="720" src="https://www.youtube.com/embed/eAWg149XCs4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></center>

<div>
 <div class="row" style="padding-top: 400px">
	  <div class="column" align="center">
	    <div  class="card">
	      <h2>Seizure</h2>
	      <p class="p">
	      	Stay with the person until the seizure ends and he or she is fully awake. 
	      	<br>
	      	Do not hold the person down or try to stop his or her movements.
	      	<br>
	      	<br>
	      	<br>
	      	1. Ease the person to the floor
	      	<br>
	      	<br>
	      	2.Take a pillow, or a soft object,ike a folded jacket, and put it unser the paitent head.   	
	      	<br>
	      	<br>
	      	3. Foam might go out from his mouth, to prevent him from choking
	      	<br>

	      	Turn the person gently onto one side.
	      	<br>
	      	<br>
	      	<br>
	      	After it ends, help the person sit in a safe place.
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      </p>
	    </div>
	  </div>


	  <div class="column" align="center">
	    <div class="card">
	      <h2>Stroke</h2>
			<h4>F A S T</h4>
	      <p class="p">
	      	<b>F - face</b>.
	      	<br>
	      	Check if his both sides of the face are even
	      	<br>
	      	Ask him to smile, if his smile is uneven, it could be one of the signs of stroke
	      	<br>
	      	<br>
	      	<b>A- arms.</b> 
	      	<br>
	      	We want to check if he has the same strenght in both sides.
	      	<br>
	      	Ask him to put his hands straight up, in 90 drgrees to his body.
	      	<br>
	      	Then ask him to squeeze your hands with his hands, if he dose not press on both sides evenly,
	      	<br>
	      	he has one of the signs of a stroke 
	      	<br>
	      	<br>
	      	<b>S - Speech</b> 
	      	<br>
	      	We want to check if he speaks clearly
	      	<br>
	      	Ask him a few questions, if he has confused or unclear speech, it could be one of the signs of stroke
	      	<br>
	      	<br>
	      	<b> T - time </b>
	      	<br>
	      	Time it is the most important thing
	      	<br>
	      	The fast you act the more chances to save him 
	      </p>
	    </div>
	  </div>
	 

	</div>
	 <div class="row">
	  <div class="column" align="center">
	    <div class="card" style="">
	      <h2>Injuries</h2>
	      <br>
	      <br>
	      <br>
	      <p class="p">
	      	<b> Cuts </b>
	      	<br>
	      	If it is small cut, and blood is not bursting anywhere
	      	<br>
	      	sterilize the place, with sterilizer or water and soup.
	      	<br>
	      	Then put a bandage on it, that fit in the size of the injury
	      	<br>
	      	<br>
	      	In case of serious injury try to press the wound and put pressure on.
	      	<br>
	      	Try to put press with band and stop the bleeding, call for help!!!
	      	<br>
	      	Use our website, or call 911
			<br>
	      </p>
	    </div>
	</div>


	    <div  class="column" align="center">
	  <div class="card card-block d-flex"  >
      <div class="card-body align-items-center d-flex justify-content-center">
	      <h2>Fainting</h2>
	      <br>
	      <br>
	      <br>
	      <br>
	      <p class="p">In case of someone is fainting, first <b> RELAX</b>
	      <br>
	      Then take an object and put it under the patient legs, 
	      <br>
	      so his legt will be in 30 dgrees.
	      <br>
	      Then ask for help, in our website, or call 911
	      	<br>

	      </p>
	    </div>
		</div>
	    </div>
	  </div>
	</div>
	  

	  
</div>


</body>
</html>